.Posts {
  margin: 0.5rem 0;
}

.PostLink {
  margin: 3rem 0;
}

.PostLink__title {
  font-size: 2.25rem;
}

.PostLink__date {
  margin-right: 0.5rem;
}

.PostLink__excerpt {
  font-size: 0.9rem;
}

.PostLink__tags {
  display: flex;
  margin: 0.25em 0;
  align-items: center;
}

.PostLink__tag {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.25em;
  background: rgba(255, 255, 255, 0.25);
}
